---
layout: page
permalink: /categories/
title: Categories
---

<div id="archives">

{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div class="category-name"><div id="#{{ category_name | slugize }}"></div></div>
    <p></p>

    <div class="category-name">
        <h2>{{ category_name }}</h2>
    </div>
    <a name="{{ category_name | slugize }}"></a>

    {% assign sorted = site.categories[category_name] | reverse %}

    {% for post in sorted %}

        <article class="recent-posts">
          <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} </a>
          </h4>
        </article>

    {% endfor %}
    <hr></hr>
  </div>
{% endfor %}
</div>
