<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="author-image">
        <a href="/">
        <img src="/assets/gelvinwhite.png" alt="Author Image" class="author-image">
        </a>
      </div>
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
     <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/' | relative_url }}">Home</a>

     <!-- Manual set order -->
     <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/categories' | relative_url }}">Categories</a>
     <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/projects' | relative_url }}">Projects</a> -->
     <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/about' | relative_url }}">About</a>
     <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/resources' | relative_url }}">Useful Resources</a>

     {% include social_links.html %}

   </nav>

   <p>Copyright &copy; {{ site.time | date: '%Y' }} THI. All rights reserved. Operated by THI.</p>
   <p><a href="/terms">Terms of Use</a> | <a href="/privacy">Privacy</a></p>
 </div>
</div>
